<%= provide :page, 'home' %>
<!-- <div class=row>
  <div class="col-md-4 col-sm-4 col xs-4">
  </div>

  <div class="col-md-4 col-sm-4 col xs-4" >
<!- The code below has the same meaning as the code above -->
  <!-- <div class="center-block" style = "width:200px;"> -->
    <!-- <h1 class="text-center">Home</h1>
 --> <!-- </div>
 -->
<!--   <div class="col-md-4 col-sm-4 col xs-4">
  </div>
</div> --> <!-- -->


  <div class="video_container"> <!-- class="embed-responsive embed-responsive-4by3" -->
    <!-- <figure class="overlay"> -->
    <video autoplay loop class="embed-responsive-item">
    <!--replace this sample with your video-->
    <source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
    </video> 
  </div>
  <div class="welcome"> <!-- class="jumbotron" -->
      <h1 class="text-center">Home</h1>
      <h1 class="text-center">PairBnB : Welcome Home</h1>      
      <p class="text-center">Rent unique places to stay from local hosts in 190+ countries.</p>
  </div>


<div class="content_part">
<div class=row>
  <div class="pull-left">
    <p>Pulling Left with Quick Float Left - Static#index</p>
  </div>

  <div class="pull-right"><p>Pulling Right with Quick Float Right - Find me in app/views/static/index.html.erb</p>
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <div class="col-md-4 col-sm-4 col xs-4">
      <div class="text-center">
       <h3>Text-center Column 1</h3>
        Lorem ipsum lectus ullamcorper mauris facilisis fringilla vivamus, senectus orci accumsan pretium ipsum dolor, class nullam elementum quam odio mi. Posuere semper venenatis rhoncus ut suspendisse quis, vel bibendum facilisis elit aliquam, sociosqu ante dolor sapien conubia platea aliquam hendrerit tempor ac volutpat praesent, varius proin vehicula gravida pretium, congue dolor blandit volutpat convallis. In lorem aliquet enim fermentum taciti auctor primis, suspendisse adipiscing fusce quam tempor quisque viverra habitasse, leo ut duis lacinia consectetur massa. Magna lobortis faucibus senectus pretium eleifend netus enim nam erat tellus, nec quis himenaeos phasellus litora blandit a massa lobortis tincidunt, congue ac semper placerat ac sagittis quisque habitasse augue.
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col xs-4">
      <div class="text-right">
        <h3>Column 2</h3>
        In lorem aliquet enim fermentum taciti auctor primis, suspendisse adipiscing fusce quam tempor quisque viverra habitasse, leo ut duis lacinia consectetur massa. Magna lobortis faucibus senectus pretium eleifend netus enim nam erat tellus, nec quis himenaeos phasellus litora blandit a massa lobortis tincidunt, congue ac semper placerat ac sagittis quisque habitasse augue.
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col xs-4">
      <h3>Column 3</h3>
      Sagittis gravida tempor ullamcorper sagittis suspendisse ad volutpat cursus facilisis, vel arcu netus metus faucibus sapien litora dictum vulputate, donec risus suspendisse fusce ad congue aliquam laoreet. Lorem ipsum lectus ullamcorper mauris facilisis fringilla vivamus, senectus orci accumsan pretium ipsum dolor, class nullam elementum quam odio mi. Posuere semper venenatis rhoncus ut suspendisse quis, vel bibendum facilisis elit aliquam, sociosqu ante dolor sapien conubia platea aliquam hendrerit tempor ac volutpat praesent, varius proin vehicula gravida pretium, congue dolor blandit volutpat convallis. In lorem aliquet enim fermentum taciti auctor primis, suspendisse adipiscing fusce quam tempor quisque viverra habitasse, leo ut duis lacinia consectetur massa. Magna lobortis faucibus senectus pretium eleifend netus enim nam erat tellus, nec quis himenaeos phasellus litora blandit a massa lobortis tincidunt, congue ac semper placerat ac sagittis quisque habitasse augue.
    </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col xs-12">
      <h3 class="text-center">Column 4</h3>
        In lorem aliquet enim fermentum taciti auctor primis, suspendisse adipiscing fusce quam tempor quisque viverra habitasse, leo ut duis lacinia consectetur massa. Magna lobortis faucibus senectus pretium eleifend netus enim nam erat tellus, nec quis himenaeos phasellus litora blandit a massa lobortis tincidunt, congue ac semper placerat ac sagittis quisque habitasse augue.
    </div>
  </div>
</div>
</div>